* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  background-color: #ff2e63;
  border-radius: 8px;
  height: 350px;
  width: 250px;
}

.container {
  height: 100vh;
  width: 100%;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  place-items: center;
}
